*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Funnel Display", serif;
}
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');